* {
  margin: 0;
}
.app {
  background-color: #fafafa;
  height: 100vh;
}
.app_header {
  background-color: white;
  padding: 20px;
  border-bottom: 1px solid lightgray;
  object-fit: contain;
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 1;
}

.app_headerImage {
  background-color: #fff;
  object-fit: contain;
}

.app_signup {
  display: flex;
  flex-direction: column;
}

.app__logoutContainer {
  margin-right: 20px;
}
.app__loginContainer {
  margin-right: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 10px;
}